.env
journal.db

#Java/Maven
target/
*.class
*.jar

#IntelliJ
.idea
*.iml

#Flutter
that_shy_life_ui/.dart_tool
that_shy_life_ui/build
that_shy_life_ui/.flutter-plugins
that_shy_life_ui/.flutter-plugins-dependencies

#OS
.DS_Store
Thumbs.db